[Unit]
Description=Tries to keep an instance of p25dcodr alive
After=network-online.target

[Service]
User=p25dcodr
WorkingDirectory=/home/p25dcodr/p25dcodr
ExecStart=/bin/sh -c 'java -Djava.awt.headless=true -jar target/p25dcodr-1.1.jar server config.yml >> /tmp/p25dcodr.log 2>&1'
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target